body{
    background-image: url('https://static.secure.website/wscfus/8582076/uploads/Omnilife.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
}